<div class="margin-bottom">

	<h2 class="text-center">Image Options</h2><br />

	<div>
		<!-- Data Embedding/Extraction -->
		<div class="row justify-content-center">
			<button type="button" class="btn btn-info" (click)="toggleEmbedDataPanel()" *ngIf="!panelSettings.showEmbedData">Lakukan Enkripsi</button>
			<button type="button" class="btn btn-danger" (click)="toggleEmbedDataPanel()" *ngIf="panelSettings.showEmbedData">Tutup Enkripsi</button>
			<button type="button" class="btn btn-info" (click)="toggleExtractDataPanel()" *ngIf="!panelSettings.showExtractData">Lakukan Dekripsi</button>
			<button type="button" class="btn btn-danger" (click)="toggleExtractDataPanel()" *ngIf="panelSettings.showExtractData">Tutup Dekripsi</button>
		</div>
	</div>
</div>

<!-- File Info Panels -->
<embed-panel *ngIf="panelSettings.showEmbedData"></embed-panel>
<extract-panel *ngIf="panelSettings.showExtractData"></extract-panel>

<br />

<h2>Original Image :</h2>
<div class="row justify-content-center">
	<image-canvas [inputImageData]="drawImageData"></image-canvas>
</div>