<div class="card">

	<div class="card-header">
		<h2 class="display-4">Enkripsi</h2>
		<p class="lead">
			Di sini kamu bisa sisipkan file/text ke dalam gambar.
			Pilih bit-bitnya dan sesuaikan pengaturannya.
		</p>
	</div>

	<div class="card-body">
		<!-- Bit Selection Table -->
		<lsb-table></lsb-table>

		<!-- Options -->
		<lsb-settings></lsb-settings>

		<br />

		<!-- Data input -->
		<div>
			<h4>Input Data:</h4>
			Tipe:&nbsp;
			<select [(ngModel)]="inputType" class="input-small">
				<option>Text</option>
				<option>File</option>
			</select>
		</div>
		<div [hidden]="inputType != 'Text'">
			<br />
			<div class="md-form">
				<textarea [(ngModel)]="textInput" class="md-textarea form-control"></textarea>
			</div>
		</div>
		<div [hidden]="inputType != 'File'">
			<br />
			<input type="file" (change)="uploadFile($event)">
		</div>

		<!-- Start -->
		<div class="row justify-content-center">
			<button class="btn btn-success" (click)="startEmbed()">Sisipkan</button>
		</div>

		<!-- Errors -->
		<div class="bubble" *ngIf="error">
			<h5>Error:</h5>
			<p class="error">{{ error }}</p>
		</div>

		<!-- In Progress -->
		<div class="row justify-content-center" *ngIf="inProgress">
			<h4>Memuat: {{ embedService.loadingMessage }}</h4>
		</div>


	</div>
</div>

<!-- Results -->
<br />
<div [hidden]="!embedComplete">
	<h3>Hasil / Output Gambar</h3>
	<p><b>Gunakan tombol "Unduh Gambar Baru" di bawah, hindari unduh melalui "Save As" karena dapat kemungkinan terjadi data yang tidak konsisten.</b></p>
</div>

<div [hidden]="!embedComplete" class="row justify-content-center">
	<canvas #canvasElement></canvas>
</div>

<div class="text-center">
	<download-embedded [hidden]="!embedComplete"></download-embedded>
</div>